.table {
    padding: 0rem 6rem;
}

.productHeadTH {
    font-size: large;
}

.headTH {
    font-size: large;
    vertical-align: middle;
    text-align: center;
}

.headTR {
    border-bottom: solid 1px black;
}

.checkout {
    vertical-align: middle;
    text-align: end;
}

.checkout_btn {
    margin: 1rem;
    width: var(--button-big-width);
    height: var(--button-big-height);
    animation: fadeIn 1.2s ease-out forwards;
    background: var(--button-green-bg);
    border-radius: 5px;
    color: var(--button-text-color-light);
    border: 1px solid var(--button-green-border-color);
    transition: var(--button-transition);
}

.checkout_btn:hover {
    background: var(--button-green-hover-bg)
}

.lastTR td {
    border-color: white;
    font-weight: 600;
    vertical-align: middle;
    text-align: center;

}

@keyframes scaleUp {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

/* Responsive design */

@media (max-width: 768px) {
    .table {
        padding: 0rem;
    }
}