.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories-link {
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 100%;
  align-items: center;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

.categories-link:hover {
  transform: translateY(-5px);
}

.categories-image {
  flex: 1;
  order: 3;
}

.categories-text {
  flex: 1;
  text-align: center;
  order: 2;
}

.categories-text h2 {
  font-size: 3rem;
  color: var(--text-color);
}

.categories-text p {
  font-size: 1.5rem;
  color: var(--text-color)
}

.categories-link:nth-child(even) .categories-image {
  order: 2;
}

.categories-link img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  transition: transform 0.2s ease-in-out;
  max-width: 50rem;
}

.categories-link:hover img {
  transform: scale(0.95);
}

.categories-container:nth-child(odd) .categories-link {
  flex-direction: row-reverse;
  background-color: #f9f9f9;
}

/*Responsive styles*/
@media (max-width:1400px) {
  .categories-link img {
    max-width: 40rem;
  }
}

@media (max-width:1200px) {
  .categories-link img {
    max-width: 30rem;
  }

  .categories-text h2 {
    font-size: 2.5rem;
  }

  .categories-text p {
    font-size: 1rem;
  }
}

@media (max-width:850px) {
  .categories-link img {
    max-width: 25rem;
  }
}

@media (max-width:768px) {
  .categories-link img {
    max-width: 20rem;
  }

  .categories-text h2 {
    font-size: 2rem;
  }

  .categories-text p {
    font-size: 0.8rem;
  }
}

@media (max-width:500px) {
  .categories-link{
    margin-bottom:1rem;
  }
  .categories-link img {
    max-width: 100%; 
  }

  .categories-text h2 {
    font-size: 1.5rem; 
  }

  .categories-text p {
    font-size: 0.8rem;
  }
}