.programs_grid {
    margin-bottom: 1rem;
    row-gap: 1.5rem;
}

.program_card_col {
    margin: 0 auto;
    animation: fadeInUp 0.5s ease-out forwards;
    opacity: 0;
}

.load_more {
    margin: 1rem;
    width: var(--button-big-width);
    height: var(--button-big-height);
    animation: fadeIn 1.2s ease-out forwards;
    background: var(--button-primary-bg);
    border-radius: 5px;
    color: var(--button-text-color-light);
    border: 1px solid var(--button-primary-border-color);
    transition: var(--button-transition);
}

.load_more:hover {
    background: var(--button-primary-hover-bg)
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (prefers-reduced-motion: reduce) {
    .item-animation {
        animation: none;
    }
}